@import "../colors";

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .logo {
        margin-top: 211px;
    }

    .loginForm {
        margin-top: 52px;

        .input {
            width: 360px;
        }

        .loginButton {
            margin-top: 66px;
            font-weight: bold;
            font-size: 20px;
            color: $basic-white;
            border-radius: 8px;

            &.active {
                background: linear-gradient(109.63deg, #78D0FF 1.79%, #4B6EB2 101.38%);
            }
        }
    }

    .registerButton {
        font-weight: bold;
        font-size: 18px;
        color: $primary-green;
        margin-top: 31px;
    }    

        // .socialLoginButton {
        //     width: 225px;
        //     height: 63px;
        //     font-weight: bold;
        //     font-size: 15px;
        //     color: $basic-white;
        //     background: linear-gradient(109.24deg, rgba(168, 235, 18, 0.91) -0.31%, #608F58 145.27%);
        //     border-radius: 8px;
        // }
    

    // .informationMessage {
    //     width: 220px;
    //     height: 45px;
    //     text-align: left;
    //     font-weight: bold;
    //     font-size: 20px;
    //     line-height: 30px;
    //     color: #608F58;
    //     outline: black solid 1px;
    // }

    

    // .socialLoginLogo {
    //     width: 50px;
    //     height: 50px;
    //     padding-left: 50px;
    // }
}
