@import "../colors";
@import "../style";

.card {
    width: 240px;
    height: 320px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 9px 10px rgba(0, 0, 0, 0.14), 0px 5px 14px rgba(0, 0, 0, 0.12);
}
.bookMarkBar {
    height: 45px;
    margin-left: 150px;
    background-color: $basic-white;
}
.charBar {
    background-color: $basic-white;
}
.nameBar {
    background-color: $basic-white;
}
.priceBar {
    width: 160px;
    height: 54px;
    background-color: $basic-white;
}
.numBar {
    margin-top: 10px;
    margin-left: 160px;
    background-color: $basic-white;
}
.boldText {
    font-weight:900;
    font-size:54px;
}
.priceText {
    font-weight:900;
    font-size:24px;
    color:#4F4F4F;
}
.numText {
    font-weight:900;
    font-size:22px;
    color:$basic-black
}