@import "../colors";

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
    25% {
        background-position: 0% 75%;
    }
	50% {
		background-position: 100% 100%;
	}
    75% {
        background-position: 75% 0%;
    }
	100% {
		background-position: 0% 0%;
	}
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
    radial-gradient(circle at 50% -50%,
        $primary-red,
        rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at -50% 90%,
        $secondary-blue,
        rgba(0,0,255,0) 70.71%),
    radial-gradient(circle at 150% 90%,
        $secondary-green,
        rgba(0,255,0,0) 70.71%) beige;
    background-size: 200% 200%;
	animation: gradient 20s ease infinite;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient($basic-white 55%, transparent);
    }
    
    .cursorWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        
    }

    .cursor {
        position: absolute;
        left: var(--mouse-x);
        top: var(--mouse-y);
        width: 50px;
        height: 50px;
        z-index: 999;
        pointer-events: none;
        border-radius: 50%;
        transition: transform 0.3s ease, opacity 0.2s ease;
    }

    .logo {
        width: 312px;
        height: 312px;
        margin-top: 73px;
        z-index: 1;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .search {
        width: 350px;
        margin-top: 20px;
    }

    .cardContainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 500px;
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 330px;
    background: 
        linear-gradient(180deg, 
        rgba(255, 255, 255, 0.54) 44.52%, 
        rgba(120, 208, 255, 0.5076) 126.32%), 
        #FFFFFF;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        
    }
    
    .logo {
        margin-top: 211px;
        margin-bottom: 52px;
    }

    .button {
        .loginButton {
            margin-top: 41px;
            margin-bottom: 14px;
            width: 225px;
            height: 63px;
            font-weight: bold;
            font-size: 15px;
            color: $basic-white;
            background: linear-gradient(109.63deg, #78D0FF 1.79%, #4B6EB2 101.38%);
            border-radius: 8px;
        }
        .socialLoginButton {
            width: 225px;
            height: 63px;
            font-weight: bold;
            font-size: 15px;
            color: $basic-white;
            background: linear-gradient(109.24deg, rgba(168, 235, 18, 0.91) -0.31%, #608F58 145.27%);
            border-radius: 8px;
        }
    }

    .informationMessage {
        width: 220px;
        height: 45px;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #608F58;
        outline: black solid 1px;
    }

    .register {
        font-weight: bold;
        font-size: 18px;
        color: #608F58;
        margin-top: 31px;
        padding: 0px 0px 0px 0px;
        background: transparent;
    }    

    .socialLoginLogo {
        width: 50px;
        height: 50px;
        padding-left: 50px;
    }
}

