/*******************************************************************
// 위치 : src/components/css/detail/header.scss 
// 설명 : 상세페이지 view 상단 header에 적용되는 스타일에 대해 정의함 
********************************************************************/

@import "../colors";

.header {
    .title {
        color: $basic-white;
        font-family: "Noto Sans KR", "sans-serif" !important;
        font-weight: bold;
        font-size: 20px;
        margin-right: 5px;
    }
    .search {
        border-radius: 4px;
    }
}
