@import "../colors";

.detail {
    width: 100%;

    .search {
        border-radius: 4px;
    }
    
    .contents {
        margin: 47px auto;
    }

    .lineChart {
        font-weight: bold;
        font-size: 24px;
        width: 817.61px;
        height: 366.18px; 
    }
}
