/*******************************************************************
// 위치 : src/components/css/detail/style.scss 
// 설명 : 상세페이지 view에 공통적으로 적용되는 스타일에 대해 정의함 
********************************************************************/

@import "../colors";

.detail {
    width: 100%;
    background: #F4F4F4;

    .contents {
        margin: 47px auto;

        .v-card {
            padding: 25px 20px !important;
            background: $basic-white;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            color: $basic-black;

            .title {
                font-weight: bold;
                font-size: 24px;
            }
        }
    }

    // flip animation
    .flip-vertical-left:hover {
        -webkit-animation: flip-vertical-left 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-vertical-left 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2021-4-2 0:59:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */
 @-webkit-keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  @keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
