/*******************************************************************
// 위치 : src/components/css/colors.scss 
// 설명 : 프로젝트 전체에 적용되는 색상 변수에 대해 정의함 
********************************************************************/

$primary-red: #D73F32;
$primary-green: #608F58;
$primary-blue: #4B6EB2;
$secondary-red: #FF9551;
$secondary-green: #A8EB12;
$secondary-blue: #78D0FF;
$basic-white: #FFFFFF;
$basic-black: #000000;
